/* TODO: use css-modules */

/* Login */
.Login {
  color: #f00;
}
.Login > .container {
  color: #0f0;
  display: flex;
  justify-content: flex-start;
}


/* Tweet */
.Tweet {
  background-color: #888;
  border: solid 1px #000;
  border-radius: 3px;
}
.Tweet > .screenName {
  font-weight: bold;
}
